/* LAYOUT */
.user-page-layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 65em;
    margin-top: 6em;
}

/* TOP - PAGE */
.user-page-top {
    justify-content: space-between;
    width: 85%;
}

/*TOP-ROW*/
.user-img-cont {
    margin-top: 1em;
    margin-left: 6.5em;
    padding: 0.25em;
    width: 10.5em;
    height: 10.5em;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(0deg, rgba(255, 220, 125, 1) 0%, rgba(244, 111, 48, 1) 25%, rgba(114, 50, 189, 1) 69%, rgba(187, 50, 127, 1) 100%);
}

.user-img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    /* margin-left: 6.5em; */
    /* margin-top: 1em; */
    /* border: 3px rgb(53, 99, 156) solid; */
    background-color: #fff;
    padding: 0.25em;
    object-fit: cover;
}

.top-right-userpage-box {
    width: 55%;
    /* position: relative; */
    /* right: 2.9em; */
    margin-right: 2.5em;
    display: flex;
    flex-direction: column;
}

.top-name-bar-user {
    display: flex;
    justify-content: space-between;
}

.username-big-user-page {
    font-size: 1.9em;
    font-weight: 300;
}

.icon-user-page-box {
    display: flex;
    gap: 0.5em;
}

.message-btn {
    border: 1px rgb(219, 219, 219) solid;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 80px;
    border-radius: 0.25em;
    font-size: 0.95em;
    font-weight: 500;
}

.follow-btn-box-user {
    border: 1px rgb(219, 219, 219) solid;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 72px;
    border-radius: 0.25em;
}

.icon-user-page {
    height: 1.2em;
    width: auto;
}

.arrow-down-icon-box-user {
    border: 1px rgb(219, 219, 219) solid;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 35px;
    border-radius: 0.25em;
}

.arrow-down-icon-user {
    height: 0.7em;
    width: auto;
}

.three-dots-user {
    font-weight: 700;
    font-size: 1.5em;
    /* position: relative;
    bottom: 5px; */
}

/* FOLLOWING-ROW */

.posts-follow-user {
    display: flex;
    justify-content: space-between;
    width: 71%;
    margin-top: 1.8em;
}

.posts-follow-user span {
    font-weight: 600;
}

.more-details-user {
    display: flex;
    flex-direction: column;
    gap: 0.24em;
}

.more-details-user span {
    font-weight: 600;
    margin-top: 1.7em;
}

.more-details-user p {
    font-size: 0.8em;
    color: var(--clr4);
    margin-top: 0.8em;
}

.more-details-user p span {
    color: rgb(11, 11, 11);
    font-weight: 500;

}

/* 24 STORY */
.user-page-story {
    display: flex;
    gap: 2.7em;
    align-self: center;
    margin-top: 2.7em;
}

.user-page-story img {
    width: 5.5em;
    height: 5.5em;
    border-radius: 50%;
    border: 1px rgb(219, 219, 219) solid;
    background-color: white;
    padding: 0.15em;
    object-fit: cover;
}

.story-headline {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.6em;
}

.story-headline div {
    font-weight: 500;
    font-size: 0.95em;
}

/* FILTER */

.filter-posts-bar-box-user {
    width: 90.1%;
    margin: auto;
    height: 3.5em;
    margin-top: 3.5em;
    display: flex;
    border-top: 1px rgb(219, 219, 219) solid;
}

.filter-posts-bar-user {
    display: flex;
    justify-content: space-between;
    /* width: 48%; */
    gap: 4.5em;
    margin: auto;
    font-size: 0.84em;
    /* border: 1px black solid; */
    color: var(--clr4);
    font-weight: 500;
}

.filter-posts-bar-user img {
    width: 0.85em;
    margin-right: 0.15em;
}

.user-filter-posts-on {
    color: var(--clr7);
}

.div-filter {
    width: 28%;
    height: auto;
    overflow: hidden;
    height: 18em;
}

/* DATA */

.all-data-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: center;
}

.data-container-user {
    display: contents;
}

.data-container-crop {
    width: 28%;
    height: auto;
    overflow: hidden;
    height: 18em;
}

.data-story-user {
    width: 100%;
    height: 100%;
    object-fit: cover;
}