.stories-bar-container {
    width: 29.5em;
    height: 7em;
    display: flex;
    margin-top: 5.4em;
    border: 1px rgb(219, 219, 219) solid;
    border-radius: 0.5em;
    margin-bottom: 1em;
    align-items: center;
    overflow: hidden;
    background-color: var(--clr2);
    /* /// */
    overflow-x: scroll;
}

.stories-bar-container::-webkit-scrollbar {
    display: none;
}

.stories-bar-box {
    display: flex;
    gap: 1em;
    margin-left: 1em;
    align-items: center;
}

.story-img-container {
    padding: 0.15em;
    width: 4em;
    height: 4em;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg, #adac75, #10c041, #664b5a, #c285a8, #b45aa3, #e63be6);
}


.story-img {
    border-radius: 50%;
    height: 100%;
    width: 100%;
    background-color: #fff;
    padding: 0.1em;
    object-fit: cover;
}

.username-stories-bar {
    font-size: 11px;
}