.stories-bar-container {
    width: 29.5em;
    height: 7em;
    display: flex;
    margin-top: 5.4em;
    border: 1px rgb(219, 219, 219) solid;
    border-radius: 0.5em;
    margin-bottom: 1em;
    align-items: center;
    overflow: hidden;
    background-color: var(--clr2);
}

.stories-bar-box {
    display: flex;
    gap: 1em;
    margin-left: 1em;
}

/* .story-img-container {
    width: 3.8em;
    height: 3.8em;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    border-color: rgb(53, 99, 156);
    border-width: 3px;
    border-style: solid;
} */


.story-img {
    /* border: 2px solid linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d); */
    /* border: 5px solid transparent; */
    /* border-image: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d); */
    /* border-image-slice: 1; */
    border-radius: 2em;
    height: 100%;
    width: auto;
    display: inline;
    margin: 0 auto;
    width: 3.8em;
    height: 3.8em;
    border: 2px rgb(53, 99, 156) solid;
    background-color: #fff;
    padding: 0.1em;
    object-fit: cover;
}

.username-stories-bar {
    font-size: 11px;
}