.header {
    background-color: lightblue;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.2em;
    position: fixed;
    width: 100%;
}

.link-btn {
    margin: 1rem;
    text-decoration: none;
    font-size: 1.2rem;
    color: black;
}

.main-logo {}


.nav-bar-header {
    display: flex;
    gap: 0.8em;
    /* justify-content: space-between; */
    height: 2em;
}

.nav-header-icon {
    /* height: 2em; */
    height: 70%;
}