.header {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.2em;
    position: fixed;
    width: 61em;
    background-color: var(--clr2);
    border-bottom: 1px rgb(219, 219, 219) solid;
    top: 0;
    height: 4.08em;
    align-items: center;
    margin-left: 17%;
    margin-right: 17%;
}

.header-container {
    border-bottom: 1px rgb(195, 208, 210) solid;
    height: 4.08em;
    width: 100%;
    background-color: rgb(251, 253, 255);
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
}

.link-btn {
    margin: 1rem;
    text-decoration: none;
    font-size: 1.2rem;
    color: black;
}

.main-logo {
    font-family: Fontspring;
    /* font-family: Fontspring-bold; */
    font-size: x-large
}

.search-header {
    background-color: rgb(239, 239, 239);
    border-style: none;
    border-radius: 0.4em;
    font-size: 1em;
    font-family: system-ui;
    font-weight: 250;
    height: 2.25em;
    width: 16.7em;
    margin-left: inherit;
}

.search-header:focus {
    outline: none;
}

.nav-bar-header {
    display: flex;
    gap: 1.53em;
    height: 2em;
}

/* .nav-header-icon {
    height: 2em;
} */

.profile-pic-header {
    border-radius: 50%;
    height: 1.5em;
    object-fit: cover;
}