.header {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.2em;
    position: fixed;
    width: 61em;
    background-color: rgb(251, 253, 255);
    border-bottom: 1px rgb(195, 208, 210) solid;
    top: 0;
    height: 4.08em;
    align-items: center;
    margin-left: 17%;
    margin-right: 17%;
}

.header-container {
    border-bottom: 1px rgb(195, 208, 210) solid;
    height: 4.08em;
    width: 100%;
    background-color: rgb(251, 253, 255);
    display: flex;
    justify-content: center;
}

.link-btn {
    margin: 1rem;
    text-decoration: none;
    font-size: 1.2rem;
    color: black;
}

.main-logo {
    font-family: Fontspring;
    /* font-family: Fontspring-bold; */
    font-size: x-large
}

.search-header {
    background-color: #eaeeef;
    border-style: none;
    border-radius: 0.5em;
}

.nav-bar-header {
    display: flex;
    gap: 1.1em;
    /* justify-content: space-between; */
    height: 2em;
}

.nav-header-icon {
    /* height: 2em; */
    height: 70%;

}

.profile-pic-header {
    border-radius: 50%;
    height: 80%;
}