.create-new-backround {
    background-color: rgb(105 109 105 / 90%);
    justify-content: center;
    display: flex;
    position: fixed;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    top: 0%;
    left: 0%;
}

.x-create {
    height: 1.5em;
    position: fixed;
    top: 1.7em;
    right: 2em;
    z-index: 5;
}

.create-new-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 6.5em;
    background-color: var(--clr2);
    /* width: 49%; */
    max-width: 39em;
    min-height: 29em;
    height: -webkit-fill-available;
    margin-bottom: 14em;
    border-radius: 1em;
    justify-content: center;
}

.create-new-top {
    height: 52px;
    border-bottom: 1px rgb(219, 219, 219) solid;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    font-weight: 600;
    position: absolute;
    top: 0;
}

.create-new-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6.5em;
}

.icon-create {
    width: 7.5em;
}

.create-drag {
    font-size: 1.6em;
    font-weight: 300;
    margin-top: 0.35em;
}

.create-select {
    height: 37px;
    width: 192px;
    background-color: rgb(53, 149, 246);
    margin-top: 1.8em;
    border-radius: 0.35em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1em;
    font-weight: 600;
    color: var(--clr2);
}

.input-file-btn {
    opacity: 0.0;
    position: absolute;
    width: 192px;
    height: 37px;
}

.choose-pic-container {
    max-height: 94%;
    max-width: 100%;
    object-fit: cover;
    overflow: hidden;
}

.choose-pic-container img {
    max-height: 100%;
    max-width: 100%;
}

.svg-box-create {
    height: 2.5em;
    width: 2.5em;
    background-color: var(--clr7);
    opacity: 83%;
    border-radius: 50%;
    left: 1.2em;
    position: absolute;
    bottom: 1.3em;
}

.choose-pic-container-svg {
    margin-left: 0.5em;
    margin-top: 0.5em;
    fill: var(--clr2);
    width: 2em;
    height: 2em;
}

/*//////////////// AFTER //////////////// */

.create-new-container-2 {
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--clr2);
    border-radius: 1em;
    width: 86%;
    /* max-width: 48em; */
    max-width: 54em;
    min-height: 29em;
    max-height: 40em;
    overflow: hidden;
}

.create-new-top-2 {
    height: 52px;
    border-bottom: 1px rgb(219, 219, 219) solid;
    /* width: 100%; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    font-size: 1.2em;
    font-weight: 600;
}

.create-new-top-2 div {
    color: var(--clr6);
    font-size: 0.8em;
}

.img-insert-txt-container {
    width: 100%;
    height: 100%;
    display: flex;
}

.choose-pic-container-2 {
    width: 60%;
    max-height: 100%;
    /* background-color: antiquewhite; */
    /* object-fit: cover; */
    overflow: hidden;
}

.choose-pic-container-2 img {
    max-width: 120%;
    max-height: 120%;
}

.insert-txt-box {
    /* width: 41%; */
    max-height: 100%;
    /* background-color: rgb(164, 129, 198); */
}

/* INSIDE TXT SIDE */

.username-bar-create {
    display: flex;
    margin-left: 0.8em;
    align-items: center;
    gap: 0.5em;
    height: 4em;
}

.username-bar-create img {
    width: 2em;
    height: 2em;
    border-radius: 2em;
    /* border-radius: 2em;
    border-color: rgb(53, 99, 156);
    border-width: 2.8px;
    border-style: solid; */
    object-fit: cover;
}

.username-bar-create div {
    font-size: 1.05em;
    font-weight: 500;
}

.input-txt-box-create {
    border: none;
    background: transparent;
    font-size: 0.89em;
}

.input-txt-box-create input {
    font-size: 1.2em;
}

.location-input-create-box {
    /* position: relative; */
    top: 12em;
    border-bottom: 1px rgb(219, 219, 219) solid;
    border-top: 1px rgb(219, 219, 219) solid;
    height: 2.9em;
    display: flex;
}

.loc-input-create {
    font-size: 1em;
    color: var(--clr7);
}

.loc-input-create:focus {
    outline: none;
}

.insert-txt-box input {
    border: none;
    background: transparent;
    color: var(--clr4);
    margin-left: 0.8em;
    outline: none;
    color: var(--clr7);
}

.insert-txt-box textarea {
    border: none;
    background: transparent;
    color: var(--clr4);
    margin-left: 0.8em;
    outline: none;
    color: var(--clr7);
    font-size: 1.2em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}