.suggest-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1em;
    margin-left: 0.5em;
    margin-right: 0.95em;
}

.suggetion-header {
    display: flex;
    justify-content: space-between;
    color: var(--clr4);
    font-weight: 500;
    font-size: 0.91em;
    align-items: center;
}

.suggetion-header span {
    color: #2d3b46;
    font-size: 0.84em;
}

.suggest-img {
    width: 2em;
    height: 2em;
    border-radius: 2em;
    object-fit: cover;
}

.username-block-suggest {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-left: 0.5em;
}

.suggest-username {
    font-weight: 500;
    font-size: smaller;
}

.suggest-for-you {
    font-size: 11px;
    color: var(--clr4);
    margin-top: 0.3em;
}

.follow-suggest {
    color: var(--clr6);
    font-weight: 500;
    font-size: small;
}